<ng-container *ngIf="order || (basketSummary$ | async) as order">
    <table class="table text-nowrap" style="margin: 0">
        <tr>
            <td>
                <b>Sub Total</b>
            </td>
            <td class="text-right">
                <b>{{ order.subtotal || order.subTotal | currency }}</b>
            </td>
        </tr>
        <tr>
            <td>
                Shipping
            </td>
            <td class="text-right font-weight-bold">
                <div *ngIf="(order.shippingPrice || order.shipping) !== null">
                    {{ order.shippingPrice || order.shipping | currency }}
                </div>
                <div *ngIf="(order.shippingPrice || order.shipping) === null" class="text-info">
                    TBC
                </div>
            </td>
        </tr>
        <tr *ngIf="order.shipping !== null">
            <td>
                <h3>Total</h3>
            </td>
            <td class="text-right w-100">
                <h3 class="ml-2">{{ order.total | currency }}</h3>
            </td>
        </tr>
    </table>
</ng-container>