<div class="d-flex justify-content-between align-items-center my-3">
    <h4>Review Chosen Items</h4>
    <a class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-shopping-cart"></i>
        Edit Basket
    </a>
</div>
<app-basket-items></app-basket-items>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> 
        Back to Delivery
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        Go to Payment
        <i class="fa fa-angle-right"></i> 
    </button>
</div>
