.cursor-pointer, [routerLink] {
    cursor: pointer;
}

hr, ul, 
.breadcrumb, .xng-breadcrumb-trail {
    margin: 0;
}

a {
    text-decoration: none;

    &.active {
        font-weight: bold;
    }
}

label.xng-breadcrumb-trail {
    font-weight: bold;
}

img {
    &:focus {
        outline: none;
    }
}

.container {
    margin-top: 25px;
}

.container-break-out {
    margin-top: -25px;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
}

