<div class="position-relative container-break-out">
    <carousel>
        <slide>
            <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width:100%">
        </slide>
        <slide>
            <img src="assets/images/hero2.jpg" alt="first slide" style="display: block; width:100%">
        </slide>
        <slide>
            <img src="assets/images/hero3.jpg" alt="first slide" style="display: block; width:100%">
        </slide>
    </carousel>

    <div class="position-absolute w-100 text-white pt-5" style="top: 0px">
        <div class="d-flex justify-content-center">
            <h1>Welcome to SkiNet</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h4>Snow Sports Gear</h4>
        </div>
    </div>
</div>