<div *ngIf="apiExceptions.length">
    <div *ngIf="!isDevMode">
        <h2>
            Well this is embarrassing...
        </h2>
        <h5>
            <p>An error has occurred.</p>
            <p>Please contact support if this problem continues to happen.</p>
        </h5>
    </div>
    <div *ngIf="isDevMode">
        <h2>
            Internal Server Error{{apiExceptions.length > 1 ? 's' : ''}}
        </h2>
        <div *ngFor="let ex of apiExceptions">
            <hr>
            <h5 class="text-danger">
                {{ex.message}}
            </h5>
            <div class="position-relative">
                <pre class="card card-body bg-light"><br>{{ex.details || 'No stack trace'}}</pre>
                <button class="btn btn-sm btn-secondary position-absolute" style="top: 0; right:0;"
                    (click)="copyException(ex)">
                    <i class="fa fa-clipboard mr-1"></i>Copy
                </button>
            </div>
        </div>
    </div>
</div>
<div class="text-center" *ngIf="!apiExceptions.length">
    <h3>Page expired</h3>
</div>