<ng-container *ngIf="(basket$ | async) || { items: []} as basket;">

    <table class="table table-middle" [class.table-hover]="!isReadOnly">
        <thead>
            <tr class="bg-light">
                <th colspan="2">
                    Product
                </th>
                <th class="text-right">
                    Unit Price
                </th>
                <th class="text-center">
                    Quantity
                </th>
                <th class="text-right">
                    Total
                </th>
                <th *ngIf="!isReadOnly">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basket.items">
                <td width="1" class="bg-light">
                    <img src="{{item.pictureUrl}}" alt="{{item.name}}" style="max-height: 50px;" />
                </td>
                <td>
                    <a routerLink="/shop/products/{{item.id}}">{{item.name}}</a>
                </td>
                <td class="text-right">
                    {{item.price | currency}}
                </td>
                <td class="text-center">
                    <h4 *ngIf="!isReadOnly">
                        <i class="fa fa-minus-circle cursor-pointer text-primary"
                            (click)="changeItemQuantity(item, -1)"></i>
                        <span class="d-inline-block font-weight-bold pt-1 mx-2">{{item.quantity}}</span>
                        <i class="fa fa-plus-circle cursor-pointer text-primary"
                            (click)="changeItemQuantity(item, 1)"></i>
                    </h4>
                    <strong *ngIf="isReadOnly">{{item.quantity}}</strong>
                </td>
                <td class="text-right">
                    <strong>{{(item.price * item.quantity) | currency}}</strong>
                </td>
                <td width="1" *ngIf="!isReadOnly">
                    <a class="fa fa-trash fa-2x text-danger cursor-pointer"
                        (click)="removeItem(item)"></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="!basket.items.length" colspan="6">
                <td>
                    Your basket is empty
                </td>
            </tr>
            <ng-container *ngIf="showSummary && basket.items.length">
                <tr>
                    <td colspan="3" class="text-info">
                        <i class="fa fa-info-circle mr-1"></i>
                        Shipping and handling costs will be calculated at the checkout
                    </td>
                    <td colspan="3" style="padding: 0">
                        <app-basket-summary></app-basket-summary>
                        <button routerLink="/checkout" class="btn btn-lg btn-block btn-primary">Go To Checkout</button>
                    </td>
                </tr>
            </ng-container>
        </tfoot>
    </table>

</ng-container>